---
import { defaultLanguage } from "~/i18n/ui";
import { getTranslation } from "~/i18n/utils";
import GithubIcon from "~/icons/redes/GithubIcon.astro";
import InstagramIcon from "~/icons/redes/InstagramIcon.astro";
import LinkedlnIcon from "~/icons/redes/LinkedlnIcon.astro";

const t = getTranslation(Astro.currentLocale ?? defaultLanguage);
---

<footer
  class="flex items-center w-full flex-wrap-reverse md:justify-between justify-center gap-6"
>
  <!-- Interesting Links -->
  <article class="dark:text-secondary-500 flex gap-4 items-center capitalize">
    <a href="/why" class="interested-link transition-duration-300"
      >{t.FOOTER.links.why}</a
    >
    <span>•</span>
    <a href="/who" class="interested-link transition-duration-300"
      >{t.FOOTER.links.who}</a
    >
  </article>

  <!-- Redes -->
  <article class="dark:text-secondary-500 flex gap-8">
    <GithubIcon class="redes transition-duration-300" />
    <LinkedlnIcon class="redes transition-duration-300" />
    <InstagramIcon class="redes transition-duration-300" />
  </article>
</footer>

<style>
  .interested-link {
    @apply text-sm;

    &:hover {
      @apply text-secondary-100;
    }
  }

  .redes:hover {
    @apply text-secondary-100;
  }

  span {
    user-select: none;
  }
</style>
