---
import CloseIcon from "../icons/CloseIcon.astro";
import CardDay from "./CardDay.astro";
import type { TDay } from "~/types/day";

const favorites: TDay[] = [
  {
    title: "title",
    pubDate: "pubDate",
    tags: ["tag"],
    day: 1,
    mood: "mood",
  },
  {
    title: "title",
    pubDate: "pubDate",
    tags: ["tag"],
    day: 5,
    mood: "mood",
  },
];
---

<aside
  class="fixed top-0 left-0 h-full bg-[#0002] w-full z-10 backdrop-blur-sm flex justify-end"
>
  <main class="bg-black xl:w-2/6 w-full p-8 flex flex-col gap-10">
    <header class="flex gap-4 items-center">
      <button class="">
        <CloseIcon />
      </button>
      <h2 class="text-4xl font-bold">Favorite Days</h2>
    </header>

    <!-- Favorites List -->
    <section class="day-container">
      {
        favorites.map((favorite) => (
          <CardDay id={`day-${favorite.day}`} data={favorite} />
        ))
      }
    </section>
  </main>
</aside>

<style>
  .day-container {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    @apply grid gap-4 gap-y-12 relative cursor-pointer;
  }

  button {
    @apply rounded-full h-8 w-8 bg-[#2A3041] flex justify-center items-center transition-colors;

    &:hover {
      @apply bg-[#47506A];
    }
  }
</style>
