---
import FavoritesIcon from "../icons/FavoriteIcon.astro";
import SpeedDial from "../common/SpeedDial.astro";
import { getCollection } from "astro:content";

const allDays = await getCollection("days");
---

<nav class="flex items-start h-11 w-full justify-between">
  <button
    class="btn px-10 h-full bg-primary-600 shadow-btn-secondary rounded-lg hover:bg-primary-500/80"
    >Filters</button
  >

  <article class="flex gap-4">
    <SpeedDial>
      <span class="capitalize" slot="btn">show days</span>
      {
        allDays.map(({ data, slug }) => (
          <li>
            <a
              href={`/days/${slug}`}
              aria-label={`Go to day ${data.day}`}
              class="bg-primary-700 hover:bg-primary-600 whitespace-no-wrap inline-flex justify-center items-center w-full gap-x-2 h-11"
            >
              Day {data.day}
            </a>
          </li>
        ))
      }
    </SpeedDial>
    <button class="btn flex justify-center items-center rounded-full h-11 w-11">
      <FavoritesIcon />
    </button>
  </article>
</nav>

<style>
  article button {
    @apply bg-primary-700/90 font-medium shadow-btn-primary;

    &:hover {
      @apply bg-primary-600;
    }
  }
</style>
