---
import FavoritesIcon from "../icons/FavoriteIcon.astro";
import SpeedDial from "../common/SpeedDial.astro";

import { daysCard } from "./ListOfDays.astro";
---

<nav class="flex justify-between items-start h-11 w-full">
  <button
    class="btn px-10 h-full bg-primary-600 shadow-btn-secondary rounded-lg hover:bg-primary-500/80"
    >Filters</button
  >

  <article class="flex gap-4">
    <SpeedDial>
      <span class="capitalize" slot="btn">show days</span>
      {
        daysCard.map((day) => (
          <li>
            <a
              href={`/day/${day.id}`}
              aria-label={`Go to day ${day.id}`}
              class="bg-primary-700 hover:bg-primary-600 whitespace-no-wrap inline-flex justify-center items-center w-full gap-x-2 h-11"
            >
              Day {day.id}
            </a>
          </li>
        ))
      }
    </SpeedDial>
    <button class="btn flex justify-center items-center rounded-full h-11 w-11">
      <FavoritesIcon />
    </button>
  </article>
</nav>

<style>
  article button {
    @apply bg-primary-700/90 font-medium shadow-btn-primary;

    &:hover {
      @apply bg-primary-600;
    }
  }
</style>
