---
import { ViewTransitions } from "astro:transitions";

interface Props {
  titlePage: string;
}

const { titlePage } = Astro.props;
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{titlePage}</title>
  </head>
  <body class="animate-fade animate-duration-1000 dark:bg-primary-700">
    <slot />

    <style is:global>
      html {
        color-scheme: dark light;
        scroll-behavior: smooth;
      }

      body {
        background: linear-gradient(
          to top,
          var(--from-linear-color) 50%,
          var(--to-linear-color)
        );
        background-color: var(--bg-color);
        height: 100%;
        min-height: 100vh;
      }

      :root.dark {
        --from-linear-color: #0f121b;
        --to-linear-color: #2a3041;

        --bg-color: #0f121b;
      }

      :root {
        --from-linear-color: #7c85a0;
        --to-linear-color: #e2e9ff;

        --bg-color: #7c85a0;
      }

      .section {
        @apply min-h-screen max-w-screen-lg mx-auto py-16 px-6 xl:px-0;
      }

      .btn {
        @apply transition-all duration-300 ease-out;
      }
    </style>
  </body>
</html>
